/////////////////////////
/// Colors patterns ////
///////////////////////

$botones: #f1a76a;
$peligro: #dc3545;


/////////////////////////
// Modified bootstrap //
///////////////////////

$theme-colors: (
    "primary": $botones,
    "danger": $peligro,
);



@import "../node_modules/bootstrap/scss/bootstrap";
