/////////////////////////
/// Colors patterns ////
///////////////////////

$botones: #f1a76a;
$peligro: #dc3545;
$select: #380c04f1;
$border: #b216d1e0;
$exito: #25FA00;
$msj: #00FAF9;





/////////////////////////
// Modified bootstrap //
///////////////////////

$theme-colors: (
    "primary": $botones,
    "danger": $peligro,
    "success": $exito,
    "info": $msj, 

);

$input-border-color: $border;
$input-focus-border-color: $select;

$input-focus-box-shadow : None;


@import "../node_modules/bootstrap/scss/bootstrap";
