{%  extends "_base.html" %}
{% block content %}


<div class="row">
    <div class="col-12 col-md-4 col-lg-6">
        <h3>Please login to access your task list.</h3>
    </div>
    <div class="col-12 col-md-8 col-lg-6">
        <form action="/" method="post" class="form-control form-control-sm form-control-md form-control-lg">
            {{ form.csrf_token }}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-5">
                        {{ form.name.label(for="username") }}
                    </div>
                    
                    <div class="col-12 col-md-8 col-lg-7">  
                        {{ form.name(id="username", class="form-control", placeholder="username") }}
                    </div>
                    
                </div>
            </div>
            
            
            
        
            {% if form.name.errors %}
                <span class="error">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            {% endif %}
            
            {{ form.password.label}}
            {{ form.password }}
                
            
            {% if form.password.errors %}
                <span class="error">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            {% endif %}
    
            <button class="btn btn-primary" type="submit">Submit</button>
    
        </form>
    </div>
       
    
</div>



    

{% endblock %}