{% extends "_base.html" %}
{% block content %}
    <h3 class="text-info">Please register to access the task list.</h3>

    <form class="form-control" method="post" action="">
        {{ form.csrf_token }}
        <div class="container">
            <div class="row mb-1">
                {{ form.name.label(for="colFormLabel", class="col-sm-2 col-form-label") }}
                <div class="col-sm-4">
                    {{ form.name(class="form-control", placeholder="Username here", autofocus=true,  id="colFormLabel") }}
                </div>

            </div>
            {% if form.name.errors %}
                <ul class="error">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email(class_="form_control",
            placeholder="Email here") }}
            {% if form.email.errors %}
                <ul class="error">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(class_="form_control",
            placeholder="Password here") }}
            {% if form.password .errors %}
                <ul class="error">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.confirm.label }}
            {{ form.confirm(class_="form_control",
            placeholder="Repeat password") }}
            {% if form.confirm.errors %}
                <ul class="error">
                    {% for error in form.confirm.errors %}
                        {{ error }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <br>
            <button type="submit">Summit</button>
        </div>
    </form>
{% endblock %}