{% extends "_base.html" %}
{% block content %}

<a href="{{ url_for('logout') }}">Logout</a>


<div class="position-relative">
    <h3>Add new task:</h3>
    <div class="col-12 col-md-8 col-lg-6">
        <form action="{{ url_for('new_task')}}" method="post" class="form-control form-control-sm form-control-md form-control-lg">
            {{ form.csrf_token }}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-5">
                        {{ form.name.label(for="name") }}
                    </div>
                    <div class="col-12 col-md-8 col-lg-7">
                        {{ form.name( id="name", placeholder="Task name", class="form-control") }}
                    </div>
                        
                {% if form.name.errors %}
                <div class="error">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                    

            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-5">
                        {{ form.due_date.label(for="due_date") }}
                    </div>
                    <div class="col-12 col-md-8 col-lg-7">
                        {{ form.due_date(placeholder="Due date", class="form-control") }}
                    </div>
                </div>
            </div>
                
                {% if form.due_date.errors %}
                    <div class="error">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-5">
                            {{ form.priority.label(for="priority") }}
                        </div>
                        <div class="col-12 col-md-8 col-lg-7">
                            {{ form.priority(class="form-control") }}
                        </div>
                    </div>
                </div>
                
                {% if form.priority.errors %}
                    <div class="error">
                        {% for error in form.priority.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="container">
                    <button class="btn btn-primary" type="submit">Add new Task</button>
                </div>
                
        </form>
    </div>
</div>

<div class="entries">
    <br>
    <br>
    <h2>Open tasks:</h2>
    <div class="vstack gap-3 col-md-9 mx-auto">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th width="200px" scope="col"><strong>Task Name</strong></th>
                    <th width="150px" scope="col"><strong>Due Date</strong></th>
                    <th width="150px" scope="col"><strong>Posted Date</strong></th>
                    <th width="75px" scope="col" ><strong>Priority</strong></th>
                    <th width="100px" scope="col"><strong>Posted By</strong></th>
                    <th><strong>Actions</strong></th>
                </tr>
            </thead>

            {% for task in open_tasks %}
            <tr>
                <td width="200px" scope="col">{{ task.name }}</td>
                <td width="150px" scope="col">{{ task.due_date }}</td>
                <td width="150px" scope="col">{{ task.posted_date }}</td>
                <td width="75px" scope="col">{{ task.priority }}</td>
                <td width="100px" scope="col">{{ task.poster.name }}</td>
                <td>
                    <a href="{{ url_for('complete', task_id = task.task_id) }}">Mark as complete</a>
                    <a href="{{ url_for('delete_entry', task_id = task.task_id) }}" class="link-danger">Delete</a> 
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="entries">
    <br>
    <br>
    <h2>Closed tasks:</h2>
    <div class="datagrid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="200px" scope="col"><strong>Task Name</strong></th>
                    <th width="150px" scope="col"><strong>Due Date</strong></th>
                    <th width="150px" scope="col"><strong>Posted Date</strong></th>
                    <th width="75px" scope="col" ><strong>Priority</strong></th>
                    <th width="100px" scope="col"><strong>Posted By</strong></th>
                    <th><strong>Actions</strong></th>
                </tr>
            </thead>

            {% for task in closed_tasks %}
            <tr>
                <td width="200px">{{ task.name }}</td>
                <td width="75px">{{ task.due_date }}</td>
                <td width="100px">{{ task.posted_date }}</td>
                <td width="50px">{{ task.priority }}</td>
                <td width="90px">{{ task.poster.name }}</td>
                <td>
                    <a href="{{ url_for('delete_entry', task_id = task.task_id) }}" class="link-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}