{% extends "_base.html" %}
{% block content %}

<br>
<a href="{{ url_for('logout') }}">Logout</a>
<br>
<br>
<div class="position-relative">
    <h3>Add new task:</h3>

    <form action="{{ url_for('new_task')}}" method="post" class="row row-cols-lg-auto g-3 align-items-center">
        {{ form.csrf_token }}
        <div class="col-12">
            {{ form.name.label }}
            {{ form.name(placeholder="Task name") }}
            {% if form.name.errors %}
                <div class="error">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-12">
            {{ form.due_date.label }}
            {{ form.due_date(placeholder="Due date") }}
            {% if form.due_date.errors %}
                <div class="error">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-12">
            {{ form.priority.label }}
            {{ form.priority(placeholder="priority") }}
            {% if form.priority.errors %}
                <div class="error">
                    {% for error in form.priority.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-12">
            <button type="submit">Add new task</button>
        </div>
    </form>
</div>

<div class="entries">
    <br>
    <br>
    <h2>Open tasks:</h2>
    <div class="vstack gap-3 col-md-9 mx-auto">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th width="200px" scope="col"><strong>Task Name</strong></th>
                    <th width="150px" scope="col"><strong>Due Date</strong></th>
                    <th width="150px" scope="col"><strong>Posted Date</strong></th>
                    <th width="75px" scope="col" ><strong>Priority</strong></th>
                    <th width="100px" scope="col"><strong>Posted By</strong></th>
                    <th><strong>Actions</strong></th>
                </tr>
            </thead>

            {% for task in open_tasks %}
            <tr>
                <td width="200px" scope="col">{{ task.name }}</td>
                <td width="150px" scope="col">{{ task.due_date }}</td>
                <td width="150px" scope="col">{{ task.posted_date }}</td>
                <td width="75px" scope="col">{{ task.priority }}</td>
                <td width="100px" scope="col">{{ task.poster.name }}</td>
                <td>
                    <a href="{{ url_for('complete', task_id = task.task_id) }}">Mark as complete</a>
                    <a href="{{ url_for('delete_entry', task_id = task.task_id) }}" class="link-danger">Delete</a> 
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="entries">
    <br>
    <br>
    <h2>Closed tasks:</h2>
    <div class="datagrid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="200px" scope="col"><strong>Task Name</strong></th>
                    <th width="150px" scope="col"><strong>Due Date</strong></th>
                    <th width="150px" scope="col"><strong>Posted Date</strong></th>
                    <th width="75px" scope="col" ><strong>Priority</strong></th>
                    <th width="100px" scope="col"><strong>Posted By</strong></th>
                    <th><strong>Actions</strong></th>
                </tr>
            </thead>

            {% for task in closed_tasks %}
            <tr>
                <td width="200px">{{ task.name }}</td>
                <td width="75px">{{ task.due_date }}</td>
                <td width="100px">{{ task.posted_date }}</td>
                <td width="50px">{{ task.priority }}</td>
                <td width="90px">{{ task.poster.name }}</td>
                <td>
                    <a href="{{ url_for('delete_entry', task_id = task.task_id) }}" class="link-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}