{%  extends "_base.html" %}
{% block content %}

<h1>Welcome to FlaskTaskr.</h1>
<h3>Please login to access your task list.</h3>

<form action="/" method="post">
    {{ form.csrf_token }}
    <div>
        {{ form.name.label }}
        {{ form.name(class_="from_control", placeholder="Username") }}
        {% if form.name.errors %}
            <span class="error">
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
    </div>

    <br>
    
    <div>
        {{ form.password.label }}
        {{ form.password(class_="form_control", placeholder="Password") }}
        {% if form.password.errors %}
            <span class="error">
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
    </div>
    <div>
        <br>
        <button type="submit">Login</button>
        <br>
    </div>
</form>

<p><em>Need an account?. </em><a href="/register/">Signup!</a></p>

{% endblock %}